# Environnement virtuel
venv/
__pycache__/
.DS_Store
.vscode/

# Fichiers sensibles ou lourds
*.xlsx
*.csv
*.joblib
!delay_dashboard_streamlit/get_around_delay_analysis.xlsx
!pricing_prediction_API/model.joblib